@font-face {
    font-family:'ddacjj' ;
    src: url(fonts/DdacjjExtendedV3-Regular.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ddacjj', serif;
}

html {
    overflow: hidden;
    height: 100%;
}


.navbar {
    /* background-image: url(images/filmClouds.JPG);
    background-size: cover; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    height:100px;
    z-index: 1;
    width:100vw;
    padding-right: 0px;
    justify-content: space-between;
}

.date__time {
    font-size: 1rem;
    direction: rtl;
    text-align: right;
    position:absolute;
    top:0;
    right:0;
    color: #c7c7c7;
}
.fa-gem {
    margin-right: 0.5rem;

}

.navbar__menu {
    padding-left: 4vw;
    height: 100px;
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.navbar__logo {
    color: #e7e7e7;
    font-size: 2.5rem;
    padding-right: 100px;
    padding-left:4vw;
    display:flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.date__time {
    height: 10%;
}
.navbar__item {
    height: 80px;
}

.navbar__links{
    color: #f5ce42;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

/* .navbar__links:hover {
    color: #ffffff;
    transition: all 0.3s ease;
} */

.navbar__links:hover {

    color: #fdfdfd;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 12px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    animation: rainbow .5s linear 0s infinite;
    animation-direction: alternate;
    color: rgb(218, 210, 210);

}

.button:hover {
    animation: rainbow .5s linear 0s infinite;
    animation-direction: alternate;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 100px;
        z-index: 1;
        max-width: 100vw;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        padding-left: 0vw;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 100%;
        z-index: -1;
        background: #292826;
    }

    .navbar_customs {
        opacity: 0%;
    }
    .navbar__menu.active {
        background: #202020;
        top: 100%;
        opacity:1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;

    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(10%, 50%);
        position: center;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        
    }

    .maincontent img {
        height: 20vh;
    }

    .maincontent {
        height: 20vh;
        padding-left: 0%;
        padding-right: 0%;
    }


}

#easteregg {
    background-color: #2f5274;
    animation: deeperWater 4s linear;
}

div #bubble {
    position: fixed;
    bottom: 0px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255,255, 255, 0.5);
    background-image: url(images/bubbles.png);
    background-size: contain;
    z-index: 16777271;
    animation: bubbleMove 5s linear infinite;
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

div #menuButton {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 30vh;
    background-image: url(images/juan.png);
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 1;
    z-index: 16777271;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

@keyframes deeperWater {
    from {
        background-color: #3a759c;
      }
      10% {
        background-color: #3a7196;
      }
      50% {
        background-color: rgb(61, 97, 131);
      }
      75% {
        background-color: #335f8b;
      }
      100% {
        background-color: #2f5274;
      }
}
@keyframes bubbleMove
{
    0%
    {
        transform: translateY(0%);
        opacity: 1;
    }
    99%
    {
        opacity: 1;
    }
    100%
    {
        transform: translateY(-1200%);
        opacity: 1; 
    }
}
.easteregg {
    padding-top: 100%;
}

body {
    background-color: #202020;
    /* background-image: url(images/filmClouds.JPG);
    background-size: cover; */
    max-width:100vw;
    /* padding: 1rem 0rem; */
    overflow: auto;
    /* animation: backgroundshift 5s infinite;
    animation-direction: alternate; */
}

.header-link {
    height: 30px;
    margin-left: 65px;
    transform: rotate(90deg);
    transform-origin: top left;
}

.vertical-header {
    color: rgb(51, 160, 100);
    
    height: 1.2em;
    margin-top: 0;
    white-space: nowrap;
    margin-left:0.4em;
}

.tempimagecontainer {
    display:inline-block;
      vertical-align:top;
}

.temp {
    padding-top: 20%;
    font-size: 1.5rem;;

}
  
  /* hero section */
.tempimagecontainer img {
    float:right;
    padding-top:10%;
      max-width: 100%;
      max-height: 100%;
      display:inline-block;
      vertical-align:top;
      margin-left: 0;
      margin-right: auto;
      object-fit: contain;
      width: 50%;

}
  .maincontent {
      height:100vh;
      margin-top: 80px;
      padding-top: 0vh;
      padding-left: 20%;
      padding-right: 20%;
      color: #c7c7c7;
  }

   #replaceme {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
 }
  /* .maincontent img {
      padding-top:10%;
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      object-fit: contain;
      width: 50%;
  } */

  header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
  }
  .desc {
      text-align: center;
  }

  .desc a{
    color: #8bbedb;

}

.desc a :hover{
    color:black;

}
  

@media screen and (max-width: 960px) {

    .maincontent {
        padding-left: 5%;
        padding-right: 5%;

    }

    .date__time {
        font-size: 0.5rem;
    }

    .temp {
        font-size: 1rem;
        padding-bottom: 100%;
    }
    .actualcontent h1 {
        font-size: 3rem;
    }

    .actualcontent h2 {
        font-size: 1.8rem;
    }

    .actualcontent {
        padding-left: 120px;
    }

    .wrapper {
        padding-top: 80px;
        height: 100vh;
        display: inline;
    }

    .navbar_customs {
        padding-left: 0%;
    }

}



@keyframes backgroundshift {
    from {background-color: #c5bba9;}
    to {background-color: rgb(196, 190, 163);}
}

@keyframes dvdlogochanger {
    from {filter: invert(48%) sepia(65%) saturate(3207%) hue-rotate(50deg) brightness(95%) contrast(120%);}
    to {filter: invert(10%) sepia(0%) saturate(100%) hue-rotate(300deg) brightness(1000%) contrast(0%);}
}

@keyframes rainbow {
    from {
      background-color: #6666ff;
    }
    10% {
        background-color: #0099ff;
    }
    50% {
        background-color: #00ff00;
    }
    75% {
        background-color: #ff3399;
    }
    100% {
        background-color: #6666ff;
    }
  }

  @keyframes rainbowcolor {
    from {
      color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
  }
